proxies/TEISProxy/trunk/src/se/teis/wsdl/teis.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tieto.com/bix/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tieto.com/bix/">
	<xs:import schemaLocation="teis.2.xsd" namespace="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
	<xs:element name="UploadMessageStd">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="BixStdEnvelope" nillable="true" type="q1:StdEnvelope" xmlns:q1="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UploadMessageStdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="UploadMessageStdResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UploadMessageBin">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="BixBinEnvelope" nillable="true" type="q2:BinEnvelope" xmlns:q2="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UploadMessageBinResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="UploadMessageBinResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q3:Connection" xmlns:q3="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetPersonResult" nillable="true" type="q4:Person" xmlns:q4="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FetchPersons">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q5:Connection" xmlns:q5="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="CivilStatus" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FetchPersonsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="FetchPersonsResult" nillable="true" type="q6:ArrayOfPerson" xmlns:q6="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q7:Connection" xmlns:q7="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="PropertyId" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPropertyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetPropertyResult" nillable="true" type="q8:Property" xmlns:q8="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FetchProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q9:Connection" xmlns:q9="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="BuildingAddress" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FetchPropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="FetchPropertiesResult" nillable="true" type="q10:ArrayOfProperty" xmlns:q10="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q11:Connection" xmlns:q11="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="TransferId" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="q12:Status" xmlns:q12="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q13:Connection" xmlns:q13="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetMessageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuestionAnswer">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="connection" nillable="true" type="q14:Connection" xmlns:q14="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
				<xs:element minOccurs="0" name="QuestionType" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="Questions" nillable="true" type="q15:ArrayOfQuestionData" xmlns:q15="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuestionAnswerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="QuestionAnswerResult" nillable="true" type="q16:ArrayOfAnswerData" xmlns:q16="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>