proxies/TEISProxy/trunk/src/se/teis/wsdl/teis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BixEnvelope" targetNamespace="http://tieto.com/bix/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tieto.com/bix/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tieto.com/bix/Imports">
			<xsd:import schemaLocation="teis.0.xsd" namespace="http://tieto.com/bix/" />
			<xsd:import schemaLocation="teis.1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="teis.2.xsd" namespace="http://schemas.datacontract.org/2004/07/TeisWsCommon" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IBixEnvelope_UploadMessageStd_InputMessage">
		<wsdl:part name="parameters" element="tns:UploadMessageStd" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_UploadMessageStd_OutputMessage">
		<wsdl:part name="parameters" element="tns:UploadMessageStdResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_UploadMessageBin_InputMessage">
		<wsdl:part name="parameters" element="tns:UploadMessageBin" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_UploadMessageBin_OutputMessage">
		<wsdl:part name="parameters" element="tns:UploadMessageBinResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetPerson_InputMessage">
		<wsdl:part name="parameters" element="tns:GetPerson" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetPerson_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPersonResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_FetchPersons_InputMessage">
		<wsdl:part name="parameters" element="tns:FetchPersons" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_FetchPersons_OutputMessage">
		<wsdl:part name="parameters" element="tns:FetchPersonsResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetProperty_InputMessage">
		<wsdl:part name="parameters" element="tns:GetProperty" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetProperty_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPropertyResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_FetchProperties_InputMessage">
		<wsdl:part name="parameters" element="tns:FetchProperties" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_FetchProperties_OutputMessage">
		<wsdl:part name="parameters" element="tns:FetchPropertiesResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetStatus_InputMessage">
		<wsdl:part name="parameters" element="tns:GetStatus" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetStatus_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetStatusResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetMessage_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMessage" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_GetMessage_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMessageResponse" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_QuestionAnswer_InputMessage">
		<wsdl:part name="parameters" element="tns:QuestionAnswer" />
	</wsdl:message>
	<wsdl:message name="IBixEnvelope_QuestionAnswer_OutputMessage">
		<wsdl:part name="parameters" element="tns:QuestionAnswerResponse" />
	</wsdl:message>
	<wsdl:portType name="IBixEnvelope">
		<wsdl:documentation>This WSDL includes Teis WS common services: UploadMessageStd, UploadMessageBin, GetPerson/FetchPersons, GetProperty/FetchProperties,
			GetStatus, GetMessage and QuestionAnswer.</wsdl:documentation>
		<wsdl:operation name="UploadMessageStd">
			<wsdl:documentation>Operation UploadMessageStd: CDATA version - Demands character data enclosed in one or several CDATA tags. To be used for uploading text
				messages.&#xD;
				Return data: TransferId or execption. If transfer identity is received Teis has accepted/stored the message for further processing.
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/UploadMessageStd" message="tns:IBixEnvelope_UploadMessageStd_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/UploadMessageStdResponse" message="tns:IBixEnvelope_UploadMessageStd_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="UploadMessageBin">
			<wsdl:documentation>Operation UploadMessageBin: Base64 version - Demands a Base64 encoded string. To be used for uploading binary data such as pictures or
				PDF files.&#xD;
				Return data: TransferId or exception. If transfer identity is received Teis has accepted/stored the message for further processing.
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/UploadMessageBin" message="tns:IBixEnvelope_UploadMessageBin_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/UploadMessageBinResponse" message="tns:IBixEnvelope_UploadMessageBin_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<wsdl:documentation>Operation GetPerson: To be used to verify a person identity (personnummer). Returns zero or one person instance.&#xD;
				Return data: PersonId as STRING, FirstName as STRING, LastName as STRING, GivenName as STRING, BirthPlace as STRING, CivilStatus as STRING, Address as STRING,
				ZipCode as STRING, City as STRING, Country as STRING, Relation[](RelationPersonId as STRING, RelationShip as STRING, GivenName as STRING, LastName as
				STRING).
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetPerson" message="tns:IBixEnvelope_GetPerson_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetPersonResponse" message="tns:IBixEnvelope_GetPerson_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="FetchPersons">
			<wsdl:documentation>Operation FetchPersons: To be used to search for a person via civilstatus, firstname, lastname, birthplace, address, zip code or city.
				Returns zero to several person instances depending on the given search criteria.&#xD;
				Return data: PersonId as STRING, FirstName as STRING, LastName as STRING, GivenName as STRING, BirthPlace as STRING, CivilStatus as STRING, Address as STRING,
				ZipCode as STRING, City as STRING, Country as STRING, Relation[](RelationPersonId as STRING, RelationShip as STRING, GivenName as STRING, LastName as
				STRING).
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/FetchPersons" message="tns:IBixEnvelope_FetchPersons_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/FetchPersonsResponse" message="tns:IBixEnvelope_FetchPersons_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetProperty">
			<wsdl:documentation>Operation GetProperty: To be used to verify a property identity (fastighetsidentitet) or name (fastighetsnummer). Returns zero or one
				property instance.&#xD;
				Return data: PropertyId as STRING, Name as STRING, Address as STRING, BuildingAddress as STRING, Owner[](OwnerId as STRING, GivenName as STRING, LastName as
				STRING).
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetProperty" message="tns:IBixEnvelope_GetProperty_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetPropertyResponse" message="tns:IBixEnvelope_GetProperty_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="FetchProperties">
			<wsdl:documentation>Operation FetchProperties: To be used to search a property via name, address, building address or owner identity. Returns zero to several
				property instances depending on the given search criteria.&#xD;
				Return data: PropertyId as STRING, Name as STRING, Address as STRING, BuildingAddress as STRING, Owner[](OwnerId as STRING, GivenName as STRING, LastName as
				STRING).
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/FetchProperties" message="tns:IBixEnvelope_FetchProperties_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/FetchPropertiesResponse" message="tns:IBixEnvelope_FetchProperties_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<wsdl:documentation>Operation GetStatus: To be used when an external system wants to do continuously status updates on a specific message flow.&#xD;
				Return data: TransferId as STRING, StatusCode as STRING, StatusDescription as STRING.
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetStatus" message="tns:IBixEnvelope_GetStatus_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetStatusResponse" message="tns:IBixEnvelope_GetStatus_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetMessage">
			<wsdl:documentation>Operation GetMessage: To be used when an external system wants to fetch information synchronizly or asynchronizly.&#xD;
				Return data: Mode as STRING, Message as BYTE array.
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetMessage" message="tns:IBixEnvelope_GetMessage_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/GetMessageResponse" message="tns:IBixEnvelope_GetMessage_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="QuestionAnswer">
			<wsdl:documentation>Operation QuestionAnswer: To be used when an external system wants to ask for some information synchronizly - Question/Answer type of
				questions. Returns zero to several AnwserData instances.&#xD;
				Return data: Tag as STRING, Value as string.
			</wsdl:documentation>
			<wsdl:input wsaw:Action="http://tieto.com/bix/IBixEnvelope/QuestionAnswer" message="tns:IBixEnvelope_QuestionAnswer_InputMessage" />
			<wsdl:output wsaw:Action="http://tieto.com/bix/IBixEnvelope/QuestionAnswerResponse" message="tns:IBixEnvelope_QuestionAnswer_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IBixEnvelope" type="tns:IBixEnvelope">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UploadMessageStd">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/UploadMessageStd" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadMessageBin">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/UploadMessageBin" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/GetPerson" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FetchPersons">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/FetchPersons" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProperty">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/GetProperty" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FetchProperties">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/FetchProperties" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/GetStatus" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMessage">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/GetMessage" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuestionAnswer">
			<soap:operation soapAction="http://tieto.com/bix/IBixEnvelope/QuestionAnswer" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BixEnvelope">
		<wsdl:port name="BasicHttpBinding_IBixEnvelope" binding="tns:BasicHttpBinding_IBixEnvelope">
			<soap:address location="http://demo.teis.se:8080/TeisWs1.1/Common" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>